<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="breadcrumb"><ul>{breadcrumbs}</ul></div>
        <div class="content container is-centered">
            <h1 class="title">{title}</h1>
            <div>
            {content}
            </div>
        </div>
    </body>
</html>