<html>
    <head>
        <link rel="stylesheet" href="/Thousndoor/style.css">
    </head>
    <body>
        <div class="breadcrumbs">{breadcrumbs}</div>
        <h1 class="title">{title}</h1>
        {content}
    </body>
</html>